@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

body {
	font-family: lato, roboto, sans-serif;
}